@using IEE.Infrastructure.DbContext
@using IEE.ViewModel;
@model ConsultantViewModel
@{
    IEnumerable<Program> programs = (IEnumerable<Program>)ViewBag.Programs;
}
@{
    ViewBag.Title = "Đăng ký tư vấn";
    Layout = "~/Views/Shared/_Blank.cshtml";
}
<section class="blank-bg" id="consult">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="col-md-6">
                    <ol class="breadcrumb m-t-md">
                        <li>
                            <strong><a href="/">IEE</a></strong>
                        </li>
                        <li>
                            Tin tức
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                @{Html.RenderAction("ConsultRegister", "CmsBase");}
            </div>
        </div>
    </div>
</section>

