@model IEE.Infrastructure.DbContext.Banner

@if (Model != null)
{

<section id="youtube-adv">
    <img src="~/photo/banner/@Model.Photo"/>
    <div id="footer-adv-container" >
        <div class="container">
            <div class="row">
                <div class="col-lg-12" id="footer-ad-contaier">
                    <div class="footer-ad" id="footer-ad">
                        <article class="banner">
                            <div class="col-md-6 youtube-title">
                                <h1>@Model.Name</h1>
                                
                                @Html.NoEncodeActionLink("<i class='fa fa-youtube-play'></i> Xem ngay video", Model.Name, "youtubepopup", "cmsbase", routeValues: new { id = Model.Id }, htmlAttributes: new { video_modal = "" })
                            </div>
                            
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



}

<script type="text/javascript">
     $(function () {
        $.ajaxSetup({ cache: false });

        $("a[video-modal]").on("click", function (e) {
            $('body').append("<div id='myModal' class='modal fade in video-highline'>"
                    + "<div class='modal-dialog'>"
                    + "<div class='modal-content'>"
                    + "<div id='myModalContent'></div>"
                    + "</div>"
                    + "</div>"
                    + "</div>");

            $('#myModalContent').load(this.href, function () {
                $('#myModal').modal({

                    keyboard: true
                }, 'show').one('hidden.bs.modal', function (e) {
                    $('#myModal').remove();
                });

            });
            return false;
        });
    });
   

</script>
