@model IEE.Infrastructure.DbContext.Banner
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
<div class="modal-body">
    <iframe src="https://www.youtube.com/embed/@Model.LinkYoutube??autoplay=0" frameborder="0" allowfullscreen ></iframe>
</div>
