@model IEE.Infrastructure.DbContext.Post
@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Page.cshtml";
}
<section id="page-news">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="col-md-6">
                    <ol class="breadcrumb">
                        <li>
                            <strong><a href="/">IEE</a></strong>
                        </li>
                        <li>
                            Tin tức
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="col-md-8 ">
                    <div class="news-content p-md box-shadow">
                        @if (Model != null)
                        {
                        <h4 class="text-bold">@Model.Title</h4>
                        <h6 class="m-b-md">
                            <i>
                                @{
                                    string dayStr = string.Empty;
                                    var previewDate = Model.PublishedDate.HasValue ? Model.PublishedDate.Value : DateTime.Now;
                                    int day = (int)DateTime.Now.Subtract(previewDate).TotalDays;
                                }
                                @if (day != 0)
                                {
                                    dayStr = day + " ngày trước";
                                }
                                else
                                {
                                    dayStr = "Hôm nay";
                                }
                                @dayStr
                            </i>
                        </h6>
                        <div id="news-content-detail">
                            @Html.Raw(Model.Detail)
                        </div>

                                    }
                    </div>
                </div>
                @{Html.RenderAction("LeftPostRandom", "CmsBase");}
            </div>
        </div>
    </div>
</section>
