@using IEE.ViewModel
@model ForgotPasswordViewModel
@{
    ViewBag.Title = "Quên mật khẩu";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Học viên anh ngữ IEE | Quên mật khẩu</title>
    <link rel="shortcut icon" href="~/content/img/favicon.png">

    <link href="~/content/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="~/content/ttn_content/animate.css" rel="stylesheet">
    <link href="~/content/ttn_content/style.css" rel="stylesheet">

</head>
<body class="gray-bg">
    <div class="middle-box text-center loginscreen  animated fadeInDown">
        <div>
            <div>
                <h1 class="logo-name">IEE</h1>
            </div>
            <h3>Quên mật khẩu</h3>
            @if (ViewBag.ResponseMessage != null)
            {
                <p>@ViewBag.ResponseMessage</p>
            }
            else
            {
                <p id="pDesc">Nhập thư điện tử của bạn vào ô bên dưới,<br /> một mã để thiết lập lại mật khẩu sẽ được gửi tới địa chỉ thư điện tử của bạn </p>

            }
            @using (Html.BeginForm("ForgotPassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "m-t", role = "form" }))
            {
                @Html.ValidationSummary(true)
                <div class="form-group">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @required = "", @placeholder = "Email" })
                </div>

                <input class="btn btn-primary block full-width m-bs" type="submit" value="Gửi" />

            }
        </div>

    </div>


    <!-- Mainly scripts -->
    <script src="~/Scripts/jquery-2.1.1.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

</body>
</html>
